@use './map' as *;
@use './variable' as *;
@use './mixin' as *;

// colors 
@each $color-key,
$color-value in $colors {
    .text-#{$color-key} {
        color: $color-value;
    }

    .bg-#{$color-key} {
        color: $color-value;
    }
}

@for $width from 1 through 12 {
    .grid-#{$width} {
        display: grid;
        grid-template-columns: repeat($width, 1fr);

        >div {
            // width: calc(100% / $width);
            // flex-shrink: 0;
            // background-color: black;
            // height: 200px;
        }
    }
    // .gap-#{$width}{
    //     gap: calc(5px * $width);
    // }
    // .col-#{$width} {
    //     grid-column-start: $width span;
    // }

    // @include mq(md) {
    //     .grid-md-#{$width} {
    //         display: grid;
    //         grid-template-columns: repeat($width, 1fr);

    //         >div {
    //             // width: calc(100% / $width);
    //             // flex-shrink: 0;
    //             background-color: black;
    //             height: 200px;
    //         }
    //     }
    //     .gap-md-#{$width}{
    //         gap: calc(5px * $width);
    //     }
    //     .col-md-#{$width} {
    //         grid-column-start: $width span;
    //     }
    // }
}